@model ValidationInMVC.Models.RichTextEditorViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "EmailTemplateEditor", FormMethod.Post))
{

            @Html.LabelFor(y=>y.Subject)
            @Html.TextBoxFor(y=>y.Subject)

            @Html.LabelFor(y => y.Message)
            @Html.TextAreaFor(y=>y.Message, new { @id= "Message" })


    <input type="submit" value="save" />
 }

<script>

   
    $('#Message').summernote({
            placeholder: 'Hello Bootstrap 4',
        tabsize: 2,
        height: 100
      });



</script>